.portfolio{
    height: 99%;
    /* background-color: #6494ed79; */
    transition: ease-in-out 0.15s;
    width: 0%;
    opacity: 0;
    visibility: hidden;

    /*Fallback if gradeints don't work */    
    
    /* background: linear-gradient(-90deg, #b39bf6, #fecaa9);
	background-size: 175% 175%;
	animation: gradient 2.5s ease infinite; */
}

.radial-gradient{
    background: #9b59b6;
    /*Linear gradient... */
    background: 
        radial-gradient(
        at center, #3498db, #9b59b6
        );
}


.portfolio.active{
    transition: ease-in-out 0.15s;
    width: 99%;
    opacity: 1;
    visibility: visible;
}

.port-header{
    display: flex;
    align-items:center;
    width: 100%;
    height: 10%;
    /* background-color:white; */
    padding: .5rem;
    border-bottom: solid rgb(69, 130, 243) 1px;    
}

.addItembtn{    
    float: right;
    background-color: rgb(250, 120, 34);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .25s;
    width: 10rem;
    height: 95%;
}
.addItembtn:hover{
    background-color: rgb(40, 93, 206);
    transition: ease-in-out .25s;
}

.assetContainer{
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat( auto-fit, minmax(22rem, 1fr) );
    overflow-y: scroll;
    overflow-x: hidden; 
    gap: 1rem 1rem;
    padding: 2rem;
    width: 100%;
    height: 85%;    
}

.assetCard{
    width: 540px;
    height: 230px;
    border-radius: 10px;
    display: flex;
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: ease-in-out .25s;
    padding: .5rem;
    color: white;
}
.assetCard:hover{    
    /* background-color: rgba(231, 246, 255, 0.979); */
    filter: saturate(100%);
    transition: ease-in-out .25s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    

}

.assetCard .delbtn{
    width: fit-content;
    height: fit-content;
    position: absolute;
    padding: 1rem;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
    transition: ease-in-out .25s;
    border-radius: 45px;
    border-color: none;    
     
}

.delbtn:hover{
    background-color: rgb(233, 102, 55);
    transition: ease-in-out .25s;
}

.delbtn:focus{
    border-color: white;
}

.card-logo{
    float: right;
    width: 33%;
    display: block;
    /* background-color: #3e4446; */
}

.card-data{
    display: inline-flex;
    flex-flow: column;
    width: 66%;
}

.card-data-name{
    font-size: 150%;    
    color: white;
    min-width: 150px;
}
.card-data-price{
    font-size: 175%;    
    min-width: 150px;
    color: white;
    text-shadow: none;
}

.card-data-priceChange, .card-data-priceChange-perc{
    font-weight: bold;
    font-size: 115%;
    border-radius: 7px;
    margin-left: .15rem;
    min-width: fit-content;
    white-space: nowrap;
}
.up, .down{
    padding: .1rem;
    display: flex;
    align-items: center;
    
}
.up{
    background-color: #409f6d
}
.down{
    background-color: #da3c28ef;
}

.card-data-share, .card-data-hodl, .card-data-gain, .card-data-cost{
    font-size: 125%;
    min-width: 150px;
    max-width: 150px;
    margin-right: 20px;
    display: inline-flex;
    text-shadow: none;
    transition: ease-in-out .5s;
    white-space: nowrap;    
    color: white;
    /* white-space: pre; */    
}

.card-data-div{
    display: inline-flex;    
    flex-flow: row;
}

.card-data-hodl, .card-data-gain{
    display: inline-block;
    max-width: fit-content;
    max-height: fit-content;
}

.card-indic-up, .card-indic-down{
    height: 75%;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0;
}
.card-indic-up{
    background-image: url('./icons/up.png');
}
.card-indic-down{
    background-image: url('./icons/down.png');
}
.card-itemlogo{
    /* max-width: 100%; */
    width: 192px;
    height: 192px;
}

/* .assetCard:hover .up, .down{
    filter: saturate(4);
} */
.assetCard:hover .card-data-name, .card-data-cost, .card-data-gain, .card-data-hodl, .card-data-price, .card-data-share, .card-data-priceChange, .card-data-priceChange-perc{    
    text-shadow: 2px 5px 5px rgba(0,0,0,0.3), 0px -2px 10px rgba(255,255,255,0.3);
    transition: ease-in-out .25s;
    /* color: white; */
}

.addWindow{
    width: 0%;
    height: 100%;
    background: radial-gradient(circle, rgba(43,43,43,.4) 0%, rgba(0,0,0,.75) 100%);
    z-index: -100;
    visibility: hidden;
    position: absolute;
    transition: ease-in-out .25s;

    display: flex;
    align-items: center;
    justify-content: center;
}
.addWindow.active{
    width: 100%;
    transition: ease-in-out .25s;
    visibility: visible;
    z-index: 10;
}

.addForm{
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 32, 32, 1);
    height: 350px;
    width: 400px;    
    display: inline-flex;
    flex-flow: column;
    padding: .5rem;
    border: solid rgba(255, 255, 255, 0.233) 1px;
}

.inputfield{
    width: 65%;
    padding: .25rem;
    font-size: 1rem;
    border-color: rgb(204, 204, 204);
    border-top: inline #3e4446;
    border-right: inline #3e4446;
    border-bottom: inline #3e4446;
    border-left: inline #3e4446;
    color: white;
    text-shadow: rgb(42 42 42 / 75%) 3px 0px 0px;
    border-radius: 0px;
    border-width: 0px;
    border-style: hidden;
    background-color:rgba(61, 61, 61, 0.836);    
}

.ddlist{
    width: 10rem;
    padding: .25rem;
    font-size: 1rem;
    border-color: rgb(204, 204, 204);
    text-shadow: rgb(42 42 42 / 75%) 3px 0px 0px;
    border-radius: 0px;
    border-width: 0px;
    background-color:rgba(61, 61, 61, 0.836);   
    margin: .15rem;
    color: white;
    border-top: inline #3e4446;
    border-right: inline #3e4446;
    border-bottom: inline #3e4446;
    border-left: inline #3e4446;
    color: white;
    border-style: hidden;
    cursor: pointer;
}
.ddlist:focus{
    border: solid #5b59f1 1px;
    outline: none !important;
}

.dditem{    
    cursor: pointer;
    padding: .25rem;
    color: white;
}
.dditem:hover{
    background-color: rgb(46, 104, 180);    
}


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2rem;
    margin: .5rem;
    transition: ease-in-out .25s;
    cursor: pointer;
    background-color: rgb(59, 88, 216);
    color: white;
    z-index: 1;
}
.button:hover{
    transition: ease-in-out .25s;
    background-color: rgb(59, 166, 216);
}

.inputfield{
    width: 65%;
    padding: .25rem;
    font-size: 1rem;
    border-color: rgb(204, 204, 204);
    color: white;
    border-top: inline #3e4446;
    border-right: inline #3e4446;
    border-bottom: inline #3e4446;
    border-left: inline #3e4446;
    border-style: hidden;
    text-shadow: rgb(42 42 42 / 75%) 3px 0px 0px;
    border-radius: 1px;
    border-width: 0px;
    background-color:rgba(61, 61, 61, 0.836);
    margin: .15rem;
    z-index: 9;
}

.close{
    background-color: rgb(165, 4, 4);
}
.close:hover{
    background-color: rgb(214, 18, 18);
}

.inputfield:focus{
    border: solid #5b59f1 1px;
    outline: none !important;
}

@media screen and (min-width : 876px) {
    .assetCard{
        width: 95%;
    }
    .card-itemlogo{
        display: block;
        justify-content: center;
        align-items: center;
        max-height: 128px;
        max-width: 128px;   
    }
    .card-logo{
        display: block;
        width: 30%;
        
    }
}
